# OMAPFS Configuration Example

# Map: RANDOM, CITY, GAME, SORTATION, WAREHOUSE
map_type = RANDOM

# Planner algorithms: PIBT, CAUSAL_PIBT, PIBT_TF, EPIBT, EPIBT_LNS, PEPIBT_LNS
planner_type = EPIBT

# Scheduler types: CONST, GREEDY
scheduler_type = CONST

# Graph Guidance types: DISABLE, ENABLE
graph_guidance_type = DISABLE

# TestSystem file paths
map_file = maps/random-64-64-20.map
output_path = outputs

# Auto generate tasks and robots
steps_num = 1000
step_time = 1000
gen_random = true
n_robots = 500
n_tasks = 100000
seed = 0